* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blueviolet;
}

.container h1 {
  color: white;
  font-family: sans-serif;
  margin: 20px;
}

.registration-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-family: sans-serif;
  background-color: #154a68;
  padding: 1.5rem;
}

.registration-form input,
.registration-form select,
.registration-form textarea {
  border: none;
  padding: 5px;
  margin: 10px;
  font-family: sans-serif;
}

.registration-form input:focus,
.registration-form textarea:focus {
  box-shadow: 3px 3px 10px rgb(228, 228, 228), -3px -3px 10px rgb(224, 224, 224);
}

.submit {
  width: 100%;
  padding: 0.5rem;
  font-size: 20px;
  background-color: rgb(1, 137, 1);
  border-radius: 5px;
  color: white;
  border: none;
  margin-top: 10px;
  font-weight: 500;
  cursor: pointer;
}

.registration-form .submit:hover {
  box-shadow: 3px 3px 6px rgb(255, 214, 176);
}
